* {
    box-sizing: border-box;
}

body {
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playing-field {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 7px;
    background-color: rgba(95, 29, 180, 1);
    border: black solid 2px;
    border-radius: 40px;
    width: 350px;
    height: 350px;
}

.game-cell {
    display: flex;
    background-color: rgba(223, 238, 246, 1);
    width: 100px;
    height: 100px;
    border-radius: 30%;
    border: 2px solid;
    align-items: center;
    justify-content: center;
}

.reset-button {
    display: table;
    margin: 0 auto;
    padding: 5px 15px;
    border: 2px solid;
    background-color: #f3b30d;
}